.grid {
    height: 60vh;
}

.low {background-color: rgba(255,0,0,.1) !important;}

select option[disabled]{
    display: none;
}

.ui-grid-filter-container {
    display: none;
}

.custom-tag-li{
    padding-left: 0px;
    padding-right: 0px;
}

.custom-tag-button{
    width: 80px;
}

.modal-dialog {
    width: 400px;
    margin: 30px auto;
}