<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/ui-grid/3.0.1/ui-grid.min.css">
    <link rel="stylesheet" href="assets/style/fridgezone.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Fridgezone</title>
</head>
<body ng-app="fridgezone" ng-controller="mainCtrl">

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Fridgezone</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div id="items" class="col-sm-12">
            <div id="itemGrid" ui-grid="itemGridOptions" ui-grid-selection class="grid"></div>
        </div>
        <br/>
    </div>
    <div class="row" style="padding: 20px">
        <button id="addItem" class="btn btn-success" ng-click="openItemDialog({})"><span class="glyphicon glyphicon-plus-sign"></span> Add item</button>
    </div>
</div>

<div ng-controller="ItemModalCtrl">
    <script type="text/ng-template" id="itemModalTemplate">
        <div class="modal-header">
            <h3 class="modal-title">{{saveLabel}} item {{item.name}}</h3>
        </div>
        <div class="modal-body">
            <div class="form-inline" class="col-sm-12">
                <form name="itemForm" id="itemForm" novalidate>
                    <div class="form-group">
                        <label class="sr-only" for="itemAddName">Item name</label>
                        <input type="text" ng-model="newItem.name" class="form-control" id="itemAddName"
                               placeholder="Item name" ng-maxlength="25" required>
                        <label class="sr-only" for="itemAddStockLevel">Stock level</label>
                        <select class="form-control" ng-model="newItem.stockLevel" id="itemAddStockLevel" required>
                            <option value='' disabled>Stock Level</option>
                            <option ng-repeat="level in stockLevelValues">{{level}}</option>
                        </select>
                        <label class="sr-only" for="itemAddOptimalQuantity">Optimal quantity</label>
                        <input type="number" ng-model="newItem.optimalQuantity" class="form-control"
                               id="itemAddOptimalQuantity" placeholder="Optimal Quantity" min="0" max="99" required>
                        <input type="hidden" ng-model="newItem.id">
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button id="saveItem" class="btn btn-success" ng-disabled="itemForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> {{saveLabel}}</button>
            <button id="cancelAddItem" class="btn btn-danger" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
        </div>
    </script>
</div>




<script src="webjars/angular/1.4.4/angular.min.js" type="application/javascript"></script>
<script src="webjars/angular-resource/1.4.4/angular-resource.min.js"></script>
<script src="webjars/ui-grid/3.0.1/ui-grid.min.js"></script>
<script src="webjars/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/main.ctrl.js"></script>
<script src="assets/js/main.modal.ctrl.js"></script>
<script src="assets/js/services.js"></script>

</body>

</html>